<!DOCTYPE>
<html>
<head>
    <title></title>

    <script src="~/Scripts/jquery-3.4.1.slim.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <br />
   
    <button type="button" class="btn btn-primary" id="btnShowSellPage">Create New Sell</button>
    <table class="table table-bordered table-striped" style="background-color:antiquewhite">
        <thead class="bg-info">
            <tr>
                <th>CustomerName</th>
                <th>CustomerMobileNo</th>
                <th>Category</th>
                <th>BrandName</th>
                <th>ProductName</th>
                <th>Quantity</th>
                <th>UnitPrice</th>
                <th>Discount_Percentage</th>
                <th>SubTotalCost</th>
                <th>DateOfSell</th>
                <th>EmpName</th>
                <th>Action</th>


            </tr>
        </thead>
        <tbody id="tblSellDataDisplay">
        </tbody>
    </table>

    <div>


        

    </div>

    <script src="~/Scripts/ProjectScript/CommonData.js"></script>
    <script src="~/Scripts/ProjectScript/ProductSellScripts.js"></script>
</body>
</html>