<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>VoucherNumber</th>
                <th>CategoryName</th>
                <th>BrandName</th>
                <th>ProductName</th>
                <th>Quantity</th>
                <th>UnitPrice</th>
                <th>Discount_Percentage</th>
                <th>SubTotalCost</th>
                <th>DateOfEntry</th>
                <th>EmpName</th>
                <th>Action</th>
                
            </tr>
        </thead>
            <tbody id="tblProductEntryDisplay">
                
            </tbody>
    </table>
    <script src="~/Scripts/ProjectScript/CommonData.js"></script>
    <script src="~/Scripts/ProjectScript/ProductEntryScript.js"></script>
</body>
</html>

                   